/*

Overides -Rladies Template

#000066 = darker blue
#0000cc = lighter blue
rgba(0, 0, 204, 0.3) = ##0000cc with 0.3

*/


h1, h2, h3 {
  font-weight: normal;
  color: #000066;
}
a, a > code {
  color: #000066;
}
.remark-code-line-highlighted { background-color: rgba(0, 0, 204, 0.3); }

.inverse {
  background-color: #0000cc;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}

.title-slide {
  background-color: #000066; /*dk blue*/
}

.title-slide h1 {
  color: #ff0000;
}
