/* 
lcs-fira-sans.css

Author: J. R. Minter based on examples by Yihui Xie

A css for a simple Xaringan slide presentation that overides
the default.css file. We use the Fira Sans fonts.

Modification History

   Date     Who                      Comments
----------  ---  ------------------------------------------------------
2018-07-04  JRM  Initial implementation with Fira Sans

*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  font-family: 'Fira Sans';
  font-size: 30px;
}

h1 {
  font-family: 'Fira Sans';
  color: #000066; /*blue*/
  font-weight: bold;
  font-size: 45px;
}

h2 {
  font-family: 'Fira Sans';
  color: #000066; /*blue*/
  font-weight: normal;
  font-size: 40px;
}

h3 {
  font-family: 'Fira Sans';
  color: #000000; /*black*/
  font-weight: normal;
  font-size: 35px;
}

.title-slide {
  background-color: #fff;
  background-image: url(../figures/lcs-stats.png);
  background-size: 25%;
  background-attachment: fixed;
  background-position: 10% 85%; 
  /* background-position: left bottom  40px, 100px; */
  text-shadow: none;
  border-bottom: 0px solid  #522D80;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  margin-top: -100px;
  color: #000066; /*blue*/
}
.title-slide h2 {
  margin-top: -20px;
  color: #cc0000; /*red*/
}

.title-slide h3 {
  margin-top: -20px;
  color: #000; /*red*/
}


.remark-slide-number {
    font-size: 14px;
    color: #522D80;
}

.my-logo-left {
content: "";
    position: absolute;
    top:   600px;
    left:   70px;
    height: 50px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../figures/lcs-stats.png);
}


/* or you can be more specific */
.font10 , .code10 .remark-code, .code10 .remark-inline-code{ font-size: 10%; }
.font20 , .code20 .remark-code, .code20 .remark-inline-code{ font-size: 20%; }
.font30 , .code30 .remark-code, .code30 .remark-inline-code{ font-size: 30%; }
.font40 , .code40 .remark-code, .code40 .remark-inline-code{ font-size: 40%; }
.font50 , .code50 .remark-code, .code50 .remark-inline-code{ font-size: 50%; }
.font60 , .code60 .remark-code, .code60 .remark-inline-code{ font-size: 60%; }
.font70 , .code70 .remark-code, .code70 .remark-inline-code{ font-size: 70%; }
.font75 , .code75 .remark-code, .code75 .remark-inline-code{ font-size: 75%; }
.font80 , .code80 .remark-code, .code80 .remark-inline-code{ font-size: 80%; }
.font90 , .code90 .remark-code, .code90 .remark-inline-code{ font-size: 90%; }
.font110, .code110 .remark-code, .code110 .remark-inline-code{ font-size: 110%; }
.font120, .code120 .remark-code, .code120 .remark-inline-code{ font-size: 120%; }
.font130, .code130 .remark-code, .code130 .remark-inline-code{ font-size: 130%; }
.font140, .code140 .remark-code, .code140 .remark-inline-code{ font-size: 140%; }
.font150, .code150 .remark-code, .code150 .remark-inline-code{ font-size: 150%; }
.font160, .code160 .remark-code, .code160 .remark-inline-code{ font-size: 160%; }
.font170, .code170 .remark-code, .code170 .remark-inline-code{ font-size: 170%; }
.font175, .code175 .remark-code, .code175 .remark-inline-code{ font-size: 175%; }
.font180, .code180 .remark-code, .code180 .remark-inline-code{ font-size: 180%; }
.font190, .code190 .remark-code, .code190 .remark-inline-code{ font-size: 190%; }
.font200, .code200 .remark-code, .code200 .remark-inline-code{ font-size: 200%; }
.font45{ font-size: 45px; }

.black { color: black; }
.white { color: white; }
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.purple { color: #f441b8; }
.gray { color: #d3cdd1; }

